body {
  font-family: 'Karla', sans-serif;
}

main {
  height: 300vh;
}

.title-font {
  font-family: 'Permanent Marker', cursive;
}

.title-font-span{
  color :#7B0A1C;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  /* top: 2rem;
    left: 7.3rem; */
  top: 0;
  left: 0;
  z-index: 1;


}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;

}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -2px -1px 11px 6px rgba(123, 10, 28, 0.2);
  -moz-box-shadow: -2px -1px 11px 6px rgba(123, 10, 28, 0.2);
  box-shadow: -2px -1px 11px 6px rgba(123, 10, 28, 0.2);
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: #7B0A1C;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: 1.5s;
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  background: #7B0A1C;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  opacity: 0.9;
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}



.menu-wrap .menu>div>div>ul>li>a:hover {
  background: white;
  color: #7B0A1C;
}


header {
  padding: 9rem 0;
  background-color: rgb(236, 235, 235);
  background-image: url(../img/header/bg-decor/new-beg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header p::selection,
header span::selection,
header i::selection {
  background: red;
}


header img#me {
  width: 20rem;
  position: absolute;
  bottom: 4rem;
  left: 12rem;
  mix-blend-mode: normal;
  animation: blend 2s infinite linear;
  z-index: 2;
}

header img.rotate-pict {
  position: absolute;
  width: 14rem;
  bottom: -13rem;
  left: -55rem;
  animation: animrotate 10s infinite linear;
}

header #circle-container img:nth-child(1) {
  width: 8rem;
  position: absolute;
  bottom: 2rem;
  left: 8rem;
}

header #circle-container img:nth-child(2) {
  width: 6rem;
  position: absolute;
  bottom: 26rem;
  left: 24rem;
  z-index: 1;
}

/* header .me-p-change p {
    background: rgb(228, 227, 227);
    
} */

header .me-p-change {
  transition: all 0.5s linear;
}

header .btn {
  position: relative;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
  z-index: 0;
}


header .btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(161, 3, 3, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(161, 3, 3, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(161, 3, 3, 0.5);
}

header .designer {
  background: #7B0A1C;
  color: white;
  padding: 0 0.3rem;
}

header .designer::before {
  content: '';
  color: white;
  animation: profile 4s infinite ease-in-out;
}

@keyframes profile {
  0% {
    content: 'graphic designer'
  }

  50% {
    content: 'web designer'
  }

  100% {
    content: 'video editor'
  }
}

.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 70%;
  width: 3px;
  background-color: #7B0A1C;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 69px;
  left: 0px;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml11 .letter:nth-child(1) {
  font-size: 13rem;
  color: #7B0A1C;
}

#latest-stuff .image-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

#latest-stuff .image-container img{
  width: 100%;
  height: 250%;
  transition: all 0.5s ease-in-out;
}

#latest-stuff .image-container:hover img{
  width: 110%;
  height: 260%;
}

#latest-stuff .image-container::after{
  content: '';
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

#latest-stuff .stuff-container{
  position: absolute;
  z-index: 1;
  color: white;
  padding: 1rem;
}

#latest-stuff .stuff-container p {
  margin-bottom: 0;
}

#latest-stuff .stuff-container .stuff-title{
  font-size: 3rem;
  color: white;
}

#latest-stuff .stuff-container .stuff-title p{
  text-shadow: 6px 3px 0px #212529;
}

#aboutme .vid-container {
  
}

#aboutme .vid-container video{
  width: 100%;
  height: 351px;
}

#aboutme img.rotate-pict {
  position: relative;
    width: 14rem;
    animation: animrotate 10s infinite linear;
    top: -10rem;
    left: -7rem;
    z-index: -1;
}

@keyframes blend {
  0% {
    mix-blend-mode: normal;
  }

  5% {
    mix-blend-mode: difference;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
  }

  10% {
    mix-blend-mode: normal;
  }

  15% {
    mix-blend-mode: normal;
  }

  25% {
    mix-blend-mode: difference;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
  }

  30% {
    mix-blend-mode: normal;
  }

  35% {
    mix-blend-mode: normal;
  }

  40% {
    mix-blend-mode: normal;
  }

  45% {
    mix-blend-mode: difference;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
  }

  60% {
    mix-blend-mode: difference;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
  }

  70% {
    mix-blend-mode: difference;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
  }

  80% {
    mix-blend-mode: difference;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
  }

  90% {
    mix-blend-mode: difference;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
  }

  100% {
    mix-blend-mode: normal;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
  }
}

@keyframes animrotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
    /* transform: rotate(5deg); */
  }
}