@keyframes profile {
	0% {
		content: 'graphic designer';
	}
	50% {
		content: 'web designer';
	}
	100% {
		content: 'video editor';
	}
}
@keyframes blend {
	0% {
		mix-blend-mode: normal;
	}
	5% {
		mix-blend-mode: difference;
		-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
	}
	10% {
		mix-blend-mode: normal;
	}
	15% {
		mix-blend-mode: normal;
	}
	25% {
		mix-blend-mode: difference;
		-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
	}
	30% {
		mix-blend-mode: normal;
	}
	35% {
		mix-blend-mode: normal;
	}
	40% {
		mix-blend-mode: normal;
	}
	45% {
		mix-blend-mode: difference;
		-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
	}
	60% {
		mix-blend-mode: difference;
		-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
	}
	70% {
		mix-blend-mode: difference;
		-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
	}
	80% {
		mix-blend-mode: difference;
		-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
	}
	90% {
		mix-blend-mode: difference;
		-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
	}
	100% {
		mix-blend-mode: normal;
		-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
		box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.53);
	}
}
@keyframes animrotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
/* transform: rotate(5deg); */
	}
}
body {
	font-family: 'Karla', sans-serif;
}
main {
}
.title-font {
	font-family: 'Permanent Marker', cursive;
}
.title-font-span {
	color: #7B0A1C;
}

.welcome {
    background-color: #7A091B;
    height: 100vh;
    h1{
        color: white;
    }
}

.menu-wrap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	.toggler {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		cursor: pointer;
		width: 50px;
		height: 50px;
		opacity: 0;
		&:checked+.hamburger {
			>div {
				transform: rotate(135deg);
				&:before {
					top: 0;
					transform: rotate(90deg);
				}
				&:after {
					top: 0;
					transform: rotate(90deg);
				}
			}
		}
		&:checked {
			&:hover+.hamburger {
				>div {
					transform: rotate(225deg);
				}
			}
		}
		&:checked~.menu {
			visibility: visible;
			>div {
				transform: scale(1);
				transition-duration: 1.5s;
				>div {
					opacity: 1;
					transition: opacity 0.4s ease 0.4s;
				}
			}
		}
	}
	.hamburger {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 60px;
		height: 60px;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-box-shadow: -2px -1px 11px 6px rgba(123, 10, 28, 0.2);
		-moz-box-shadow: -2px -1px 11px 6px rgba(123, 10, 28, 0.2);
		box-shadow: -2px -1px 11px 6px rgba(123, 10, 28, 0.2);
		>div {
			position: relative;
			flex: none;
			width: 100%;
			height: 3px;
			background: #7B0A1C;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.4s ease;
			&::before {
				content: '';
				position: absolute;
				z-index: 1;
				top: -10px;
				width: 100%;
				height: 3px;
				background: inherit;
			}
			&::after {
				content: '';
				position: absolute;
				z-index: 1;
				top: -10px;
				width: 100%;
				height: 3px;
				background: inherit;
				top: 10px;
			}
		}
	}
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		>div {
			background: #7B0A1C;
			border-radius: 50%;
			width: 200vw;
			height: 200vw;
			display: flex;
			flex: none;
			align-items: center;
			justify-content: center;
			transform: scale(0);
			transition: all 0.4s ease;
			opacity: 0.9;
			>div {
				text-align: center;
				max-width: 90vw;
				max-height: 100vh;
				opacity: 0;
				transition: opacity 0.4s ease;
				>ul {
					>li {
						list-style: none;
						color: #fff;
						font-size: 1.5rem;
						padding: 1rem;
						>a {
							color: inherit;
							text-decoration: none;
							transition: color 0.3s ease;
							&:hover {
								background: white;
								color: #7B0A1C;
							}
						}
					}
				}
			}
		}
	}
}
header {
	padding: 9rem 0;
	background-color: rgb(236, 235, 235);
	background-image: url(../img/header/bg-decor/new-beg.png);
	background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
	p {
		&::selection {
			background: red;
		}
	}
	span {
		&::selection {
			background: red;
		}
	}
	i {
		&::selection {
			background: red;
		}
	}
	img#me {
		width: 20rem;
		position: absolute;
		bottom: 4rem;
		left: 12rem;
		mix-blend-mode: normal;
		animation: blend 2s infinite linear;
		z-index: 2;
	}
	img.rotate-pict {
		position: absolute;
		width: 14rem;
		bottom: -13rem;
		left: -55rem;
		animation: animrotate 10s infinite linear;
	}
	#circle-container {
		img {
			&:nth-child(1) {
				width: 8rem;
				position: absolute;
				bottom: 2rem;
				left: 8rem;
			}
			&:nth-child(2) {
				width: 6rem;
				position: absolute;
				bottom: 26rem;
				left: 24rem;
				z-index: 1;
			}
		}
	}
	.me-p-change {
		transition: all 0.5s linear;
	}
	.btn {
		position: relative;
		z-index: 99;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
		z-index: 0;
		&:hover {
			-webkit-box-shadow: 0px 0px 10px 0px rgba(161, 3, 3, 0.5);
			-moz-box-shadow: 0px 0px 10px 0px rgba(161, 3, 3, 0.5);
			box-shadow: 0px 5px 10px 0px rgba(161, 3, 3, 0.5);
		}
	}
	.designer {
		background: #7B0A1C;
		color: white;
		padding: 0 0.3rem;
		&::before {
			content: '';
			color: white;
			animation: profile 4s infinite ease-in-out;
		}
	}
}
.ml11 {
	font-weight: 700;
	font-size: 3.5em;
	.text-wrapper {
		position: relative;
		display: inline-block;
		padding-top: 0.1em;
		padding-right: 0.05em;
		padding-bottom: 0.15em;
	}
	.line {
		opacity: 0;
		position: absolute;
		left: 0;
		height: 70%;
		width: 3px;
		background-color: #7B0A1C;
		transform-origin: 0 50%;
	}
	.line1 {
		top: 69px;
		left: 0px;
	}
	.letter {
		display: inline-block;
		line-height: 1em;
		&:nth-child(1) {
			font-size: 13rem;
			color: #7B0A1C;
		}
	}
}
#latest-stuff {
	.image-container {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 300px;
		img {
			width: 100%;
			height: 250%;
			transition: all 0.5s ease-in-out;
		}
		&:hover {
			img {
				width: 110%;
				height: 260%;
			}
		}
		&::after {
			content: '';
			width: 100%;
			height: 100%;
			background: black;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.5;
		}
	}
	.stuff-container {
		position: absolute;
		z-index: 1;
		color: white;
		padding: 1rem;
		p {
			margin-bottom: 0;
		}
		.stuff-title {
			font-size: 3rem;
			color: white;
			p {
				text-shadow: 6px 3px 0px #212529;
			}
		}
	}
}
#aboutme {
	.vid-container {
		position: relative;
		width: 100%;
		overflow: hidden;
		video {
			width: 100%;
			height: 351px;
		}
	}
	img.rotate-pict {
		position: relative;
		width: 14rem;
		animation: animrotate 10s infinite linear;
		top: -10rem;
		left: 20rem;
		z-index: -1;
	}
}
